<main class="contenedor contenedor-formularios">
  <h1><%= pageName %></h1>

  <form action="/signup" method="post" class="default-form">
    <div class="campo">
      <label>Email</label>
      <input type="email" name="email" placeholder="Your email">
    </div>
    <div class="campo">
      <label>Password</label>
      <input type="password" name="password" placeholder="Your password">
    </div>
    <div class="campo enviar">
      <input type="submit" class="btn btn-rosa" value="Signin">
    </div>
  </form>
</main>
