<h1 
  style="
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  "
>Account confirmation</h1>

<p style="font-family: Arial, Helvetica, sans-serif;">Hello, you are close to start to create groups in Meetio, you only need to confirm your account. Use the following link:</p>

<a style="display: block; font-family: Arial, Helvetica, sans-serif; padding: 1rem; background-color: #00C897; color: white; text-transform: uppercase; text-align: center;  text-decoration: none;" href="<%= url %> ">Confirm your account</a>

<p style="font-family: Arial, Helvetica, sans-serif;">If you can access the link, copy and paste the following: <%= url %></p>